---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import { Icon } from "astro-icon/components";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Hero />
  <div class="flex justify-center pt-4 pb-8">
    <a
      class="text-gray-50 font-semibold text-2xl pt-2 pb-3 px-6 rounded-full bg-cyan-500"
      href="#content"
    >
      Läs mer om oss
    </a>
  </div>
  <div id="content" class="flex flex-col lg:grid grid-cols-2 gap-6">
    <div class="text-xl leading-[150%]">
      Våra kunder uppskattar kombinationen av festlighetskäsnlan som vi tillför
      och att lättare kunna finansiera evenemanget då vi betalar en andel av vår
      försäljning för platsen. (procentsats englit överenskommelse)
    </div>
    <div></div>
    <div></div>
    <div class="text-xl leading-[150%]">
      Om du tror att vi kan förgylla ditt evenemang tveka inte att höra av dig
      till oss så återkommer vi med information!
    </div>
  </div>
</Layout>
