---
import "../styles/global.css";
import "@fontsource-variable/dosis";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="max-w-308 pt-16 md:pt-18 xl:pt-23 px-8 md:px-4 mx-auto">
    <slot />
  </body>
</html>

<style></style>
